In [1]:
# 문자열 [시작인덱스 : 끝 인덱스 : 간격]

In [3]:
a = 'Hello World'
print(a[0:5])
print(a[6:11])
print(a[-11:-6])
print(a[-5:-1])
print(a[-5:])
print(a[::2])
print(a[:6])
print(a[-1])
print(a[4])

Hello
World
Hello
Worl
World
HloWrd
Hello
d
o

In [15]:
print(a[::-1]) # 역순으로 출력하기

dlroW olleH

# 문자열 포매팅

In [7]:
# 숫자 바로 대입
"I eat %d apples."%4

I eat %d apples 4

In [23]:
a=4
"I eat %d apples."%a

'I eat 4 apples.'

In [22]:
# 문자열 바로 대입
"I eat %s apples."%"five"

'I eat five apples.'

In [26]:
# 문자열 포맷 코드 활용
# %s를 숫자와 함께 사용하면, 공백과 정렬 표현 가능
"%11s"%"hi"

'         hi'

In [31]:
"%-5sJane"%"hi"

'hi   Jane'

In [32]:
# 소수점 표현하기
"%0.5f" %2.43243234

'2.43243'

In [33]:
"%11.5f" %2.43243234

'    2.43243'

In [36]:
# f 문자열 포매팅 (파이썬 3.6버전 부터 가능)
name = "홍길동"
age = 25
f'나의 이름은 {name}입니다. 나이는 {age+2}입니다.'

'나의 이름은 홍길동입니다. 나이는 27입니다.'

# 문자열 관련 함수

In [37]:
# count() => 문자의 개수를 세는 함수
a = "hobby"
a.count('y')

1

In [41]:
# find() => 찾는 문자열이 처음 나온 위치 반환 / 없으면 -1 반환
a = "Python is the best choice"
a.find("e")

12

In [40]:
a.find("k")

-1

In [42]:
# index() => find와 마찬가지로, 찾는 문자열이 처음 나온 위치 반환
# 단, 찾는 문자열이 없다면 오류 발생
a = "Life is too short"
a.index("o")

9

In [43]:
a.index("z")

ValueError: substring not found

In [45]:
# join() => 문자열 삽입
",".join("cake")

'c,a,k,e'

In [47]:
# upper() => 소문자를 대문자로 변환
a = "hello"
a.upper()

'HELLO'

In [48]:
# lower() => 대문자를 소문자로 변환
a = "HELLO"
a.lower()

'hello'

In [51]:
# lstrip() => 가장 왼쪽에 있는 연속된 공백 삭제
a = "    hello"
a.lstrip()

'hello'

In [53]:
# rstrip() => 가장 오른쪽에 있는 연속된 공백 삭제
a = "    hello     "
a.rstrip()

'    hello'

In [54]:
# strip() => 양쪽에 있는 연속된 공백 삭제
a = "    hello     "
a.strip()

'hello'

In [16]:
# 문자열.find(찾을문자열) -> 찾을 문자열 시작인덱스 찾기
# 문자열.replace(찾을문자열,교체할 문자열) -> 찾을문자열을 교체할 문자열로 바꾸기 
# 문자열.lower() -> 모두 소문자로 바꾸기 
# 문자열.upper() - > 모두 대문자로 바꾸기
# 문자열.split('구분자') -> 문자열을 구분자를기준으로 나누기

In [18]:
a = '나는 초코우유 좋아. 초코우유 최고'
print(a.replace('초코','딸기'))
print(a)

나는 딸기우유 좋아. 딸기우유 최고
나는 초코우유 좋아. 초코우유 최고

In [23]:
a = 'Hello, Python!!!'
print(a.index('e')) # 'e'라는 값이 여러개 있다면 맨 처음 'e'의 위치만 반환 
# print(a.index('L')) -> 문자는 대.소문자를 구분하기 때문에 오류가 난다.

1

In [27]:
a.lower()
print(a)
print(a.lower())
print(a.upper())

Hello, Python!!!
hello, python!!!
HELLO, PYTHON!!!

In [29]:
phone = '010-123-4567'
phone.split('-') # '-' 를 기준으로 나눠서 리스트로 저장된다.

['010', '123', '4567']

In [31]:
email = 'abc@naver.com'
email.split('@')

['abc', 'naver.com']

In [32]:
# 연습문제.
# -> 사용자의 영문 이름을 입력받아 성과 이름 순서를 바꾸어서 출력하는 프로그램을 작성하세요.
# -> 성과 이름은 공백으로 구분합니다.

In [1]:
q = input('사용자의 이름을 영문으로 입력하세요 : ')
w = q.split(' ')
print(w[::-1])  # w가 리스트가 되었기 때문에, 리스트의 인덱스가 바뀌어 가능함

full_name = input('사용자의 이름을 영문으로 입력하세요 : ')
space = full_name.find(' ')
print(space)
first_name = full_name[:space]
last_name = full_name[space+1:]
print(first_name,last_name)
print(last_name, first_name)

사용자의 이름을 영문으로 입력하세요 : Kim seongmin
['seongmin', 'Kim']
사용자의 이름을 영문으로 입력하세요 : Kim seongmin
3
Kim seongmin
seongmin Kim

* if문

In [42]:
# 파이썬에서는 괄호 대신들여쓰기로 코드를 묶어준다. 
#  들여쓰기 간격은같아야한다.

In [44]:
score = int(input('점수를 입력하세요 :'))
if score >= 60:
    print('합격')
else: # 없어도 상관은 없다.
    print('불합격')

점수를 입력하세요 :40
불합격

In [49]:
score = int(input('점수를 입력하세요 :'))

if score >= 90:
    print('A학점입니다')
elif score >= 80:
    print('B학점입니다')
elif score >= 70:
    print('C학점입니다')
elif score >= 60:
    print('D학점입니다')
else:
    print('불합격입니다')

점수를 입력하세요 :12
불합격입니다

In [50]:
# 연습문제 -> 정수를 입력받아 짝수/홀수를판별하세요.

In [60]:
num = int(input('정수를 입력해주세요 :')) # input()은 문자로 인식된다.

if num == 0:
    print('0입니다')
elif num % 2 == 0:
    print('짝수입니다')
else:
    print('홀수입니다.')

정수를 입력해주세요 :651
홀수입니다.