# up & down 숫자맞추기 게임

In [ ]:
# 1~100 사이의 정답 숫자를 랜덤으로 하나정하고, 정답 숫자를 맞출 때까지 숫자를 입력하는게임
# 내가 입력한 숫자가 정답보다 작으면 'down', 정답보다 크면 'up'을 출력하고 숫자를 다시 입력받는다.
# 정답을맞추면  '정답!'이라고 출력하고 게임을 끝낸다.

In [1]:
#정답숫자
import random
num = random.randrange(1,101)
print(num)

#정답을 맞출 때까지 반복하기(정답을 맞추면 반복에서 벗어나기)
while True:
    answer = int(input('예상숫자 : '))
    if answer == num:
        print('정답~!')
        break
    elif answer < num:
        print('Up')
    else:
        print('Down')

28
예상숫자 : 32
Down
예상숫자 : 14
Up
예상숫자 : 20
Up
예상숫자 : 25
Up
예상숫자 : 28
정답~!

In [2]:
# 확장
# 기회는 5번까지만 주어집니다.
# 5회가 넘으면 '횟수초과' 메시지와 함께 정답을 알려줍니다.
# 정답을 맞추면 몇번째에 맞추었는지 출력합니다

In [7]:
import random
num = random.randrange(1,101)
print(num)
n = 1 # 횟수

while True:
    answer = int(input('예상숫자 : '))
    if answer == num:
        print('정답~!')
        print(n,'번만에 맞추었습니다.')
        break
    elif answer < num:
        print('Up')
        n += 1
    else:
        print('Down')
        n += 1
    if n == 6:
        print('횟수가 초과되었습니다. 정답은 ',answer)
        break

42
예상숫자 : 45
Down
예상숫자 : 89
Down
예상숫자 : 42
정답~!
3 번만에 맞추었습니다.

# 사칙연산 프로그램

In [8]:
# 두 수와 사칙연산기호(+,-,*,/)를 입력받아 연산 기호에 따라 연산 결과를 출력하는 프로그램을 만든다.
# 사칙연산기호(+,-,*,/)가 아닌 경우 '잘못입력하셨습니다'를 출력

In [3]:
n1 = int(input('첫번째 숫자 '))
n2 = int(input('두번째 숫자 '))
m = input('+,-,*,/ 중 입력하세요.')

if m == '+':
    print(f,n1+n2)
elif m == '-':
    print(f'{n1}-{n2} = ',n1-n2)
elif m == '*':
    print(f'{n1}*{n2} = ',n1*n2)
elif m == '/':
    print(f'{n1}/{n2} = ',n1/n2)
else:
    print('잘못입력하셨습니다.')

첫번째 숫자 10
두번째 숫자 20
+,-,*,/ 중 입력하세요.*
10*20 =  200

# 할인된 금액 계산

In [16]:
# 물건 구매가를 입력받고, 금액에 따른 할인율을 계산하여 구매가, 할인율, 할인금액,
# 지불금액을 출력하는 프로그램
# 1만원이상~5만원미만 할인율 5%
# 5만원이상~10만원미만 할인율 7%
# 10만원이상 할인율 10%

In [19]:
A = int(input('물건 구매가를 입력하세요 : '))
d = 0
dis = 0
if A >= 10000 and A < 50000:
    d = 0.05
    dis = A*d
    print(f'구매가={A} 할인율={d*100}% 할인금액={dis} 지불금액={A-dis}')
elif A >= 50000 and A < 100000:
    d = 0.07
    dis = A*d
    print(f'구매가={A} 할인율={d*100}% 할인금액={dis} 지불금액={A-dis}')
elif A >= 100000:
    d = 0.1
    dis = A*d
    print(f'구매가={A} 할인율={d*100}% 할인금액={dis} 지불금액={A-dis}')
else:
    print(f'구매가={A} 할인율=0% 할인금액=0 지불금액={A}')

물건 구매가를 입력하세요 : 15000
구매가=15000 할인율=5.0% 할인금액=750.0 지불금액=14250.0

In [20]:
# 강의
price = int(input('물건구매가 : '))

if price>=100000:
    dc = 10
elif price>=50000:
    dc = 7
elif price>=10000:
    dc = 5
else:
    dc = 0
    
print(f'''

구매가: {price}
할인율 : {dc}
할인금액 : {price*(dc/100)}
지불금액 : {price-price*(dc/100)}

''')

물건구매가 : 59000


구매가: 59000
할인율 : 7
할인금액 : 4130.0
지불금액 : 54870.0

# 리스트와 튜플 만들기

In [21]:
# 하나의 변수에 다수의 데이터를 저장하는 자료형
# 리스트, 튜플, 딕셔너리, 집합
# list    tuple  dict     set

#리스트 -> 순서 0, 인덱스로제어 
#튜플 -> 리스트와 유사 *변경 불가능
#딕셔너리 -> 순서 X, 키:값 의 쌍으로 이루어짐. 키로 제어
#집합 -> 순서 X, 중복X

* 리스트 만들기

In [23]:
# []를 사용하여 빈 리스트 만들기 
l1 = []
l1

[]

In [24]:
# list() 함수를사용하여 빈 리스트 만들기 
l2 = list()
l2

[]

In [25]:
#[]를 사용하여 초기값이 있는 리스트 만들기
l3 = [1,3,5,7,9]
l3

[1, 3, 5, 7, 9]

In [27]:
# list() 함수를 사용하여 초기값이 있는 리스트 만들기(규칙이 있는 정수값의 나열)
l4 = list(range(1,40,2))
l4

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

* 튜플

In [28]:
# 리스트와 유사하지만 수정,삭제,추가가 되지않는 자료형
# 대괄호대신 소괄호를 사용
# 프로그램이 실행되는 동안 값이 바뀌면 안되는 경우 사용
# 함수에 인수를 전달하거나 값을 리턴할 때 사용되는 경우가 많다.

In [34]:
# ()를 사용하여 빈 튜플 만들기
t1 = ()
t1

()

In [35]:
# tuple() 함수를 사용하여 빈 튜플 만들기
t2 = tuple()
t2

()

In [36]:
# ()에 초기값 지정하여 튜플 만들기
t3 = (1,3,5,7,9)
t3

(1, 3, 5, 7, 9)

In [37]:
# tuple() 함수를 사용하여 초기값이 있는 튜플 만들기(규칙이 있는 정수값의 나열)
t4 = tuple(range(1,40,2))
t4

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39)

In [38]:
# 튜플을 만들 때 괄호()를 생략할 수 있다.
t5 = 1,3,5,7,9
t5

(1, 3, 5, 7, 9)

In [4]:
# 항목이 1개일때는 ,를 붙인다.
t6 = (1,)
print(t6)
type(t6)

(1,)

tuple

In [3]:
t6 = (1)
type(t6)

int

In [42]:
t7 = 1,
t7

(1,)

# 리스트와 튜플에는 모든 자료형을 혼합하여 저장할 수 있다.

- cf) person1 = ['Charles', 20, 70.5, ['독서','운동']]
- cf) person2 = ('James', 21, 73.0, ['축구','게임])

In [43]:
myinfo = ['amy',20,165.5,['독서','코딩']]
myinfo

['amy', 20, 165.5, ['독서', '코딩']]

In [44]:
myinfo2 = ('amy',20,165.5,['독서','코딩'])
myinfo2

('amy', 20, 165.5, ['독서', '코딩'])

# 리스트, 튜플 연결하기

In [45]:
l1 = ['사과','딸기','포도']
l2 = ['포도','수박']
l1 + l2

['사과', '딸기', '포도', '포도', '수박']

In [46]:
t1 = ('빨','주')
t2 = ('노','초','파','남','보')
t1 + t2

('빨', '주', '노', '초', '파', '남', '보')

# 리스트, 튜플 반복하기

In [4]:
l = ['먹고','자고']
t = ('놀고','먹고','자고')
print(l * 3)
print(t * 2)

['먹고', '자고', '먹고', '자고', '먹고', '자고']
('놀고', '먹고', '자고', '놀고', '먹고', '자고')

In [48]:
t = ('놀고','먹고','자고')
t * 2

('놀고', '먹고', '자고', '놀고', '먹고', '자고')

# 리스트, 튜플에 값 존재여부 확인 (멤버연산자)

In [49]:
l = [1,2,3,4,5]
print(5 in l)
print(10 in l)

print(5 not in l)

True
False
False

In [50]:
t = (1,2,3,4,5)
print(5 in t)
print(10 in t)

print(5 not in t)

True
False
False

# 리스트, 튜플 항목의 갯수 구하기

In [51]:
l = [1,2,3,4,5,6,7,8,77.7,88.8,'a','b','c',[10,20,30]]
len(l)

14

In [52]:
t = ((1,2),[3,4])
len(t)

2