# 리스트 통계값

In [ ]:
# 합계 : sum(리스트명)  -> 리스트의 모든 항목이 숫자여야한다.
# 최소값: min(리스트명)  -> 문자열과 숫자가 혼합되어있는 항목이 있어선 안된다
# 최대값 : max(리스트명)
# 항목의 갯수 : 리스트명.count(항목)  -> 중복된 값의 갯수가 몇개인지 구분

In [3]:
l = [1,2,3,4,5,3,4,5]
print('항목수 : ', len(l))
print('합계 : ', sum(l))
print('최소값 : ', min(l))
print('최대값 : ', max(l))
print('평균 : ', sum(l) / len(l))
print('항목 5의 갯수 : ', l.count(5))

항목수 :  8
합계 :  27
최소값 :  1
최대값 :  5
평균 :  3.375
항목 5의 갯수 :  2

# 리스트 정렬

In [2]:
# 리스트명.sort() -> 리스트 원본을 정렬한다. (오름차순 정렬)
# 리스트명.sort(reverse=True) (내림차순 정렬)

# sorted(리스트명) -> 리스트 원본은 건드리지 않고 정렬된 새로운 리스트를 반환
# sorted(리스트명,reverse=True)

# 리스트명.reverse() -> 리스트를 역순으로 뒤집는다.

In [3]:
friends = ['수지','지은','찬혁','수현','범준']

In [6]:
friends.sort()
friends # 다시 원래대로의 순서로 되돌릴 수 없다.

['범준', '수지', '수현', '지은', '찬혁']

In [7]:
friends.sort(reverse=True)
friends

['찬혁', '지은', '수현', '수지', '범준']

# 복사본 만들어서 정렬

In [8]:
friends = ['수지','지은','찬혁','수현','범준']

In [9]:
a = sorted(friends)
a

['범준', '수지', '수현', '지은', '찬혁']

# 리스트 순서 뒤집기

In [11]:
friends = ['수지','지은','찬혁','수현','범준']

In [12]:
friends.reverse()
friends

['범준', '수현', '찬혁', '지은', '수지']

# 2차원 리스트 다루기

In [13]:
# 표는 행과 열로 이루어진 이차원 구조이다.
# 리스트 안에 리스트를 중첩하여 사용함으로써 표를 표현할 수 있다.

In [14]:
# 2차원 리스트 만들기.
#      0열   1열   2열
# 0행  10    20    30
# 1행  40    50    60   -> 만들어보기

In [19]:
list = [[10,20,30],[40,50,60]]

# 30 추출하기
print(list[0][2])

# 1행 2열 추출하기
print(list[1][2])

30
60

In [21]:
# 연습
# file_list에서 파일명과 확장자를 분리하여 다음과같은 형태로 
# 저장하는 리스트를 만들어봅시다.

#  파일명    확장자
#  file1       py
#  file2      txt
#  file3      pptx

file_list = ['file1.py','file2.txt','file.pptx']
name_extension = []

In [22]:
for i in file_list:
    print(i)

file1.py
file2.txt
file.pptx

In [24]:
for i in file_list:
    print(i.split('.'))  # split('구분자') 함수** 구분자로 문자등을 분리하여 리스트 형태로 만든다.
    name_extension.append(i.split('.'))

['file1', 'py']
['file2', 'txt']
['file', 'pptx']

In [25]:
print(name_extension)

[['file1', 'py'], ['file2', 'txt'], ['file', 'pptx']]

# 리스트 연습하기

In [16]:
# 1번
# 학생별 총점, 평균구하기
# 다음은 학생 별 [국어,영어,수학] 점수가 저장된 리스트이다.
# score_list =[[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]
# 각 학생의 세 과목의 성적의 [총점,평균]을 구하여 리스트에 담으시오.
# (평균은 반올림하여 소수점 1자리까지 표현한다.)

score_list =[[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]
stu_scores = []

In [17]:
# count = len(score_list)
# print('학생수 :',count)

for i in score_list:
    #print(i)
    total = sum(i)
    average = total/3
    #print([total,round(average,1)])
    stu_scores.append([total,round(average,1)])  # round(값,소수점자리수표시)
    
print(stu_scores)

[[260, 86.7], [258, 86.0], [254, 84.7], [254, 84.7], [257, 85.7]]

In [49]:
# 2번
# score_list =[[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]
# 각 과목의 리스트를 분리하고 과목별 평균을 구해봅시다.
# 평균은 소수점 1자리까지 출력한다.

score_list =[[96,84,80],[96,86,76],[76,95,83],[89,96,69],[90,76,91]]

In [50]:
# 각 과목의 리스트 분리하기
for i in score_list:
    print(i)

[96, 84, 80]
[96, 86, 76]
[76, 95, 83]
[89, 96, 69]
[90, 76, 91]

In [54]:
kor_list=[]
eng_list=[]
math_list=[]

kor_average=0
eng_average=0
math_average=0

for i in score_list:
    kor_list.append(i[0])
    eng_list.append(i[1])
    math_list.append(i[2])
print('kor_list:',kor_list)
print('eng_list:',eng_list)
print('math_list',math_list)

kor_average = sum(kor_list)/len(kor_list)
eng_average = sum(eng_list)/len(eng_list)
math_average = sum(math_list)/len(math_list)

print(round(kor_average,1))
print(round(eng_average,1))
print(round(math_average),1)

kor_list: [96, 96, 76, 89, 90]
eng_list: [84, 86, 95, 96, 76]
math_list [80, 76, 83, 69, 91]
89.4
87.4
80 1

In [55]:
# 랜덤 항목 추출하기

In [56]:
menulist = ['한식','일식','중식','양식','분식','이탈리아식']
print('오늘은 뭘 먹지?')

오늘은 뭘 먹지?

In [57]:
# 메뉴를 입력받아 랜덤으로 메뉴를 정하는 프로그램을 작성해봅시다.
# 공백('')을 입력할 때까지 메뉴를 입력받습니다.

In [58]:
import random

In [61]:
random.choice(menulist)

'분식'

In [64]:
menulist = []
while True:
    menu = input('메뉴:')
    if menu == '':
        break
    menulist.append(menu)

print('오늘의 메뉴는 :',random.choice(menulist))

메뉴:치킨
메뉴:파스타
메뉴:닭
메뉴:
오늘의 메뉴는 : 치킨